/*REGOLE PRINCIPALI*/

 	* {
 	margin: 0;
 	padding:0;
 	box-sizing: border-box;
 	font-size: $defaultBaseFontSize;
  font-family: $defaultFont;
 }

 /*REGOLE PRINCIPALI ---> fontSize Media Queries*/

 @media all and (max-width: 1149px) {

 	* {
 		font-size: $tabletBaseFontSize;
 	}

 }

 @media all and (max-width: 768px) {

  * {
	 font-size: $mobileBaseFontSize;
  }

}

/*REGOLE PRINCIPALI ---> containers*/

%containerBaseRules {
  display: block;
  margin: $chartsElementsYspacing auto 0px auto;
  padding: $defaultPadding;
  width: 75%;
  text-align: center;
  border-radius: 12px;
  background: white;
}

 #main_container {
 	max-width: 100vw;
 	height: auto;
 	overflow: hidden;
  background: lightgrey;
  .container {
    @extend %containerBaseRules;
  }
  &.guest {
    .container.employee, .container.clevel {
      display: none;
    }
  }
  &.employee {
    .container.clevel {
      display: none;
    }
  }
}

@media all and (max-width: 1300px) {
  #main_container {
    .container {
      @extend %containerBaseRules;
      width: 90%;
    }
  }
}


  /*REGOLE PRINCIPALI ---> Mixins*/

 @mixin positionFixedTop {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
 }

 @mixin float($direction: 'left') {
   @if ($direction == 'left') {
    float: left;
  } @else {
    float: right;
  }
 }

 @mixin clearfix {
   &:after {
     content: '';
     display: table;
     clear: both;
   }
 }
