//CONTAINER
$defaultPaddingX: 15px;
$containerDefaultWidth: 1200px;

//TEXT
$defaultFont: 'Open Sans', sans-serif;

$defaultBaseFontSize: 16px;
$tabletBaseFontSize: 14px;
$mobileBaseFontSize: 12px;

$regularBaseFontSize: 1rem;
$smallerFontSize: 0.8rem;
$extraSmallFontSize: 0.6rem;
$biggerFontSize: 1.3rem;

$bolderFont: 600;
